
<!-- <div class="container d-flex ">
    <div class="mx-auto d-flex mt-5">
    <img style="width:60px;" src="../../assets/Instagram_logo_2016.svg.webp" alt="">
    <h1 class="font1 mx-2" >Instagram</h1>
</div>
</div>
<div class="container w-25 border border-2 shadow border-dark rounded my-5 py-5">
<form >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">username</label>
      <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="rahulraj_29" >
    </div>
    <div class="mb-3 ">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="name" id="exampleInputPassword1" placeholder="password" >
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    
    <button type="submit" 
     class="btn btn-primary px-4" >login</button>
</form>
</div> -->


<div class="container-fluid bodycolor d-flex h-100" >
    <div class="container  my-5 shadow h-100">
        <div class="row overflow-hidden bg-white rounded-4 p-5  ">
            <div class="col-lg-6 py-3 ">
              <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner  ">
                  <div class="carousel-item  active  ">
                    <img src="../../assets/abc1.jpg"   class="img-fluid d-block mx-auto  border rounded-4 text-center mx-auto border-4 border-dark" alt="...">
                  </div>
                  <div class="carousel-item  ">
                    <img src="../../assets/abc2.jpeg" class="img-fluid d-block mx-auto  border rounded-4 text-center mx-auto border-4 border-dark" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6" >
              <router-outlet></router-outlet>
            </div>
        </div>
        </div>
      </div>