<div class="container-fluid bodycolor d-flex">
    <div class="container my-5 shadow">
        <div class="row overflow-hidden bg-white rounded-4 p-3 p-md-5">
            <div class="col-lg-6 d-none  d-lg-block d-md-none d-sm-none">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://rahulrajimages.s3.ap-south-1.amazonaws.com/Images/instagramload1.jpeg" class="img-fluid border rounded-4 mx-auto border-4 border-dark" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://rahulrajimages.s3.ap-south-1.amazonaws.com/Images/instagramload2.webp" class="img-fluid border rounded-4 mx-auto border-4 border-dark" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>