<!-- <p>{{postdata|json}}</p> -->

<div class="row">
    <div class="col-lg-9 my-2">
        <div class="container" *ngFor="let x of postdata">
            <div class="card mx-auto my-3" style="width:50vw;">
                    <div class="d-flex m-2 border-bottom border-secondary">
                       <span class="fs-5" [routerLink]="['/viewprofile',(x.userId)]" routerLinkActive="router-link-active" >
                        <img src="{{x.profileImageUrl}}" class="rounded-circle border border-dark" style="width: 60px ;height: 60px;" alt="profile img">
                        {{x.userName}}
                       </span>
                    </div>
                    
                    <div [id]="x.postId" class="carousel slide">
                      <div class="carousel-inner">
                        <ng-container *ngFor="let y of x.media; let i = index">
                          <div class="carousel-item" [class.active]="i === 0">
                            <img src="{{y.MediaUrl}}" class="d-block w-100" alt="postImage">
                          </div>
                        </ng-container>
                      </div>
                      <button class="carousel-control-prev" type="button" [ngClass]="{'d-none':x.media.length==1 }" [attr.data-bs-target]="'#'+x.postId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" [ngClass]="{'d-none':x.media.length==1 }" [attr.data-bs-target]="'#'+x.postId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                    
                        <div class="card-body ">
                          <div class="d-flex border-bottom ">
                            <!-- Check if likedUsers is null -->
                            <ng-container *ngIf="x.likedOrNot==2;else elseblock">
                              <img class="m-2" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" (click)="like(x.postId)" style="width: 30px;height: 30px;" alt="">
                            </ng-container>
                            <ng-template #elseblock>
                              <img class="m-2" src="https://cdn-icons-png.flaticon.com/512/833/833472.png" (click)="like(x.postId)" style="width: 30px;height: 30px;" alt="">
                            </ng-template>
                            <span *ngIf="x.likedUsers!=null" class="fs-6 mt-2">{{x.likeCount}} likes</span>
                            <img class="m-2" src="https://cdn-icons-png.flaticon.com/512/3193/3193015.png" (click)="comment(x.postId)" style="width: 30px;height: 30px;" alt="">
                            <span class="fs-6 mt-2" *ngIf="x.commentCount>0" (click)="showComments(x.postId)">{{x.commentCount}} comments</span>
                          </div>
                          <div class="input-group my-3 " *ngIf="commentbox==true && commentboxId==x.postId">
                            <input type="text" class="form-control" placeholder="write your comment....." [(ngModel)]="commentText"  aria-label="Username" aria-describedby="basic-addon1">
                            <button class="btn btn-primary" (click)="SubmitComment(x.postId)" [disabled]="commentText.length == 0">Comment</button>   
                          </div>
                          <div class="my-2">
                            <p class="card-text"><span class="fw-bold">{{x.userName}}</span> {{x.caption}}</p>
                          </div>

                          <ng-container *ngFor="let item of commentsdata">
                            <div class="container border border rounded m-2" *ngIf="showcomment==true && x.postId==item.postId" >
                         <div class="border m-2 rounded" [routerLink]="['/viewprofile',(item.userId)]" routerLinkActive="router-link-active" > 
                          <img class="border border-dark rounded-circle m-2" [src]="item.profileImageUrl" alt="" style="width: 40px ;height: 40px;">
                          <span class="m-2">{{item.userName}}</span>
                          <span class="m-2">{{item.commentText}}</span>
                        </div>
                          <div class="container text-end">

                            <span class="btn border-light " (click)="ShowsubComment(item.commentId)">Replies</span>
                         <span class="m-2">{{ subcommentdata.length }}</span>

                            <span class="btn border-light " (click)="Subcomment(item.commentId)">Reply</span>
                          </div>
                          <div class="input-group my-3 " *ngIf="subcommentbox==true && subcommentboxId==item.commentId">
                            <input type="text" class="form-control" placeholder="write your comment....." [(ngModel)]="SubcommentText" aria-label="Username" aria-describedby="basic-addon1">
                            <button class="btn btn-primary" (click)="SubmitsubComment(item.commentId)" [disabled]="SubcommentText.length == 0">Comment</button>   
                            
                          </div>
                          <div *ngIf="subcommentshow==true ">

                          <ng-container *ngFor="let a of subcommentdata" >
                            <div class="border m-2 container rounded-pill" [routerLink]="['/viewprofile',(item.userId)]" routerLinkActive="router-link-active">
                          <img class="border border-dark rounded-circle m-2" [src]="a.profileImageUrl" alt="" style="width: 40px ;height: 40px;">
                          <span class="m-2">{{a.userName}}</span> 
                          <span class="m-2">{{a.subCommentText}}</span>

                           </div>
                          </ng-container>
                        </div>
                            </div>
                          </ng-container>
                        </div>
                      
                      </div>
                </div>     
        </div>


<!-- suggestion list -->
    <div class="col lg-3 my-3">
        <div class="container border-start">
            <h1 class="text-center">Suggestions</h1>
            <div class=" my-2 "  *ngFor="let x of profiledata">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item  rounded">
                      <div class="row align-items-center">
                        <div class="col-9" [routerLink]="['/viewprofile', (x.userId)]">
                          <img class="rounded-circle border border-dark mx-2 " [src]="x.profileImageUrl" style="width: 60px; height: 60px;" alt="profileimg">
                          <span class="fs-5" >{{x.userName}}</span>
                        </div>
                        <div class="col-2">
                          <button class="btn btn-primary" (click)="request(x.userId)">Follow</button>
                        </div>
                      </div>
                    </li>
                  </ul>
              </div>
        </div>
    </div>
</div>