<div class="container">
    <h1 class="fs-2 text-center m-3 p-2 shadow rounded-pill">Messages</h1>
    <div class="row">
        <div class="col-4 border-end">
        <div *ngFor="let x of chatusers " class=" rounded shadow rounded-pill m-2 p-2" >
           
           <div  [routerLink]="['/home/message',(x.userId)]" routerLinkActive="router-link-active">
           
            <img src="{{x.profileImageUrl}}" class="rounded-circle border border-dark mx-2 " style="width: 60px; height: 60px;" alt="">
            <span class="fs-5" >{{x.userName}}</span>    
        </div>
        </div>
        </div>
        <div class="col-8">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>