<div class="d-flex " >
  <div class="mx-auto d-flex mt-5">
  <img style="width:60px;" src="../../assets/Instagram_logo_2016.svg.webp" alt="">
  <h1 class="font1 mx-2" >Instagram</h1>
</div>
</div>
<div class=" container w-75 shadow rounded my-5 p-5">
<form [formGroup]="loginForm" (ngSubmit)="Onlogin()">
  <div class="mb-3">
    <label for="uname" class="form-label">Username</label>
    <input type="text" class="form-control"  placeholder="rahulraj_29" formControlName="UserName">
    <span
    *ngIf="!username?.valid && (username?.dirty || username?.touched)"
    class="text-danger">
    <span *ngIf="username!.errors?.['required']">
      *This is Required
    </span>
  </span>
  </div>
  <div class="mb-3 ">
    <label for="pass" class="form-label">Password</label>
    <input type="password" class="form-control"   placeholder="password" formControlName="Password">
    <span
    *ngIf="!password?.valid && (password?.dirty || password?.touched)"
    class="text-danger"
  >
    <span *ngIf="password!.errors?.['required']">
      *This is Required
    </span>
  </span>
  </div>
  <button class="btn bodycolor px-4 w-100 " > <span class="text-white fs-5">Login</span></button>
</form>
<div class="pt-2">
<span><a  class="text-decoration-none" routerLink='/forgotpassword' routerLinkActive="router-link-active">Forgot Password?</a></span>
</div>
<div class="pt-2">
<span >Don't have an account?<a routerLink='/register' routerLinkActive="router-link-active" >Sign Up</a></span>
</div>
</div>