<!-- {{profiledata|json}} -->
<div class="container">
<ng-container *ngFor="let x of profiledata">
    <div class="my-2 d-flex justify-content-center">
      <h3 class="m-2 fs-4">{{x.userName}}</h3>
    </div>
      <div class="my-3">
          <img class="rounded-circle border border-dark border-2 my-2 mx-4" src="{{x.profileImageUrl}}" style="width: 120px;height:120px;" src="" alt="profileimg">
          <button type="button" class="btn btn-white border border-white w-25 fs-5"><div ><p>{{x.postCount}}</p>Post</div></button>
          <button type="button" class="btn border border-white w-25 mx-4 fs-5" ><div data-bs-toggle="modal" data-bs-target="#followers"><p>{{x.followersCount}}</p>Followers</div></button>
          <button type="button" class="btn border border-white mx-4 w-25 fs-5"><div data-bs-toggle="modal" data-bs-target="#following"><p>{{x.followingCount}}</p>Following</div></button>
      </div>
      <h2 >{{x.fullName}}</h2>
      <p>{{x.bio}}</p>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-5 col-sm-5 m-2 ">
          <ng-container *ngIf="followingdata.message=='Friends'">
            <button class="btn btn-dark w-100" (click)="decline(x.userId)">Unfollow</button>
          </ng-container>
          <ng-container  *ngIf="followingdata.message=='NotFriends'">
            <button class="btn btn-dark w-100" (click)="request(x.userId)">Follow</button>
          </ng-container>
          <ng-container  *ngIf="followingdata.message=='Requested'">
            <button class="btn btn-dark w-100" (click)="decline(x.userId)" >Requested</button>
          </ng-container>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 m-2">  
          <button class="btn btn-dark w-100" [routerLink]="['/home/message',(id)]" routerLinkActive="router-link-active" >Message</button>
        </div>
      </div>
      <div class="border border-bottom my-3 "></div> 
      <div class="row" *ngIf="x.privacy=='Public' || followingdata.message=='Friends'">  
        <ng-container *ngFor="let y of x.post">        
          <div class="col-lg-4 m-2" style="width: 300px; height: 300px;">
            <img class="border border-dark rounded" src="{{y.postMedia[0].MediaUrl}}" alt="hello" style="width: 300px; height: 300px;cursor:pointer;" [routerLink]="['/viewpost',(y.postId)]" routerLinkActive="router-link-active">        
      </div>
    </ng-container>
      </div>


<!-- Followers Modal -->
<div class="modal fade" id="followers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Followers</h1>
      <button type="button" class="btn-close"  aria-label="Close"></button>
    </div>
    <div class="modal-body mx-auto">
      <div class=" my-2 " style="width: 18rem;"  *ngFor="let y of x.followers">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"  >
            <ng-container *ngFor="let z of y.UserInfo" >
              
              <div [routerLink]="['/viewprofile',(y.followerId)]"  data-bs-dismiss="modal">
              <img class="rounded-circle border border-dark mx-4" src="{{z.profileTable[0].ProfileImageUrl}}" style="width: 60px;height:60px;" alt="profileimg">
              <span class="fs-5">{{z.userName}}</span>
            </div>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Following Modal -->
<div class="modal fade" id="following" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Following</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body mx-auto">
      <div class="my-2 " style="width: 18rem;"  *ngFor="let y of x.following">
        <!-- <p>{{y|json}}</p> -->
        <ul class="list-group list-group-flush ">
          <li class="list-group-item" >
            <ng-container *ngFor="let z of y.UserInfo" >  
              <div [routerLink]="['/viewprofile',(x.userId)]" routerLinkActive="router-link-active">
              <img class="rounded-circle border border-dark my-2 mx-4" src="{{z.profileTable[0].ProfileImageUrl}}" style="width: 60px;height: 60px;" alt="profileimg">
              <span class="fs-5">{{z.userName}}</span>
            </div>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</div>
</div>






</ng-container>
</div>