<div class="container mx-auto shadow m-4 p-3 border rounded">
    <h1 class="text-center fw-bold">Forgot Password?</h1>
    <div class="input-group  my-3">
        <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
        <input type="text" class="form-control my-3" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="email">
    <button class="btn btn-primary my-3"  (click)="otpgen()" data-bs-toggle="modal" data-bs-target="#otpmodal" [disabled]="email.length==0">GetOtp</button>
    </div>

   <span> Remember Password ? Want to Login? </span> <a routerLink='/login' routerLinkActive="router-link-active">Login</a>
</div>


<div class="modal fade" id="otpmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">OTP CONFIRMATION</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form  [formGroup]="otpform">
                <div class="form-group">
                  <label for="otp">OTP</label>
                  <input
                    type="text"
                    name="otp"
                    id="otp"
                    class="form-control"
                    formControlName="otp"
                  />
                </div>
               <div class="py-2 mx-2">
                <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mx-2" data-bs-dismiss="modal" (click)="checkotp()"  data-bs-toggle="modal" data-bs-target="#otpmodal">Verify</button>
              </div>
              </form>
        </div>
        
      </div>
    </div>
  </div>